PORT=4000
NODE_ENV=development
LOG_LEVEL=DEBUG
MONGO_URI=mongodb://localhost:27017/agri-connect
JWT_SECRET=sample_secret
JWT_EXPIRES_IN=1d
GOOGLE_MAPS_API_KEY=api_key
RESEND_API_KEY=api_keyresend
JWT_PASSWORD_RESET_SECRET=sample_forgot_password_secret
FRONT_URL=http://localhost:3000
EMAIL_USER=email.com
EMAIL_PASS=password.com